# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-arm64
jupyter=1.0.0=pyhd8ed1ab_10
matplotlib=3.8.4=py312h1f38498_2
numpy=1.26.4=py312h8442bc7_0
pandas=2.2.2=py312h8ae5369_1
pip=24.0=pyhd8ed1ab_0
python=3.12.3=h4a7b5fc_0_cpython
pytorch=2.3.0=cpu_generic_py312h16b77fb_0
scikit-learn=1.4.2=py312h1b546db_1
seaborn=0.13.2=hd8ed1ab_2
tqdm=4.66.4=pyhd8ed1ab_0
